<div class="container-fluid">
    <div class="row flex-center">
        <div class="col-sm-12">
            <div class="flex-center" style="margin-top: 50px;">
                <h2>Prijava na sistem</h2>
            </div>
            <div class="flex-center">
                <form class="table table-borderless" [formGroup]="passChangeForm">
                    <table align="center">
                        <tr>
                            <td>Stara lozinka:</td>
                            <td>
                                <input type="text" class="form-control" formControlName="oldPassword" name="oldPassword" [(ngModel)]='oldPassword'>
                                <div *ngIf="(passChangeForm.get('oldPassword').touched || usernameError)">
                                    <small class="error" *ngIf="passChangeForm.get('oldPassword').hasError('required')">
                                        Stara lozinka je neophodna
                                    </small>
                                </div>
                                <div *ngIf="(passChangeForm.get('oldPassword').touched || usernameError)">
                                    <small class="error" *ngIf="wrongOldPassword">
                                        Stara lozinka nije ispravna
                                    </small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nova lozinka:</td>
                            <td><input type="text" class="form-control" formControlName="password" name="password" [(ngModel)]='newPassword'>
                                <div *ngIf="(passChangeForm.get('password').touched || passwordError)">
                                    <small class="error" *ngIf="passChangeForm.get('password').hasError('required')">
                                        Lozinka je neophodna
                                    </small>
                                </div>
                                <div *ngIf="(passChangeForm.get('password').touched || passwordError)">
                                    <small class="error" *ngIf="passChangeForm.get('password').hasError('pattern')">
                                        Lozinka mora imati bar 8 karaktera, bar jedno veliko slovo, <br> bar jedan broj i jedan specijalni karakter i mora poceti slovom.
                                    </small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Potvrda lozinke:</td>
                            <td><input type="text" class="form-control" formControlName="passwordConfirm" name="passwordConfirm">
                                <div *ngIf="(passChangeForm.get('passwordConfirm').touched || passwordError)">
                                    <small class="error" *ngIf="passChangeForm.get('passwordConfirm').hasError('required')">
                                        Potvrda lozinke je neophodna
                                    </small>
                                </div>
                                <div *ngIf="(passChangeForm.get('passwordConfirm').touched || passwordError)">
                                    <small class="error" *ngIf="passChangeForm.get('passwordConfirm').hasError('matching') && !passChangeForm.get('passwordConfirm').hasError('required')">
                                        Potvrda lozinke se ne slaze sa lozinkom
                                    </small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <button class="btn btn-primary" (click)="passwordChange()">Promeni lozinku</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>