.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.form-control.ng-touched.ng-invalid {
    border:2px solid red;
}

.form-control.ng-touched.ng-valid {
    border:2px solid green;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}